<div class="hero">
    <p style="display:none;" class="large brandon">Together We Can Change the World</p>
    <p style="display:none;" class="small brandon">ECOFY: To live life in a way that leaves <br>behind a world worth living in.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL SEND<br/>TO ALL RECIPIENTS IN THE NEAR FUTURE.</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.ecofy.com/">WWW.ECOFY.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <div class="key"></div>
        <p class="byline brandon">Join the Movement</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
        <% end %>
    <% end %>
</div>